
// Color palette
$black: #222;
$grey: #95a5a6;
$white: #fff;
$green: #4caf50;
$blue-dark: #2c3e50;
$blue-light: lighten($blue-dark, 72%);

$border-grey: #ccc;
$bkg-grey: #6f6f6f;
$middle-grey: #e6e6e6;
